In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/atlantico-academy/datasets/main/titanic.csv')

In [3]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
df.to_csv('../data/raw/data.csv', index=False)

In [6]:
dicionario = pd.DataFrame([
    {
        "variavel": "survived",
        "descricao": "Sobreviventes ou não do passageiro",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "pclass",
        "descricao": "Número da classe do passageiro",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "sex",
        "descricao": "Sexo do passageiro",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "age",
        "descricao": "Idade do passageiro",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "sibsp",
        "descricao": "Quantidade de irmãos/cônjuges a bordo",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "parch",
        "descricao": "Quantidade de pais / crianças a bordo",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "fare",
        "descricao": "Tarifa paga pelo passageiro",
        "tipo":"quantitativa",
        "subtipo":"discreta"
    },{
        "variavel": "embarked",
        "descricao": "Sigla do porto de Embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "class",
        "descricao": "Nome da classe do passageiro",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "who",
        "descricao": "Classificação do passageiro",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "adult_male",
        "descricao": "Se é ou não um homem adulto",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "deck",
        "descricao": "Andar do passageiro",
        "tipo":"qualitativa",
        "subtipo":"ordinal"
    },{
        "variavel": "embark_town",
        "descricao": "Nome do porto de embarque",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alive",
        "descricao": "Sobrevivente ou não",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "alone",
        "descricao": "Sozinho ou não",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    }
])
dicionario.to_csv('../data/external/dictionary.csv', index=False)
dicionario

       variavel                              descricao          tipo   subtipo
0      survived     Sobreviventes ou não do passageiro  quantitativa  discreta
1        pclass         Número da classe do passageiro  quantitativa  discreta
2           sex                     Sexo do passageiro   qualitativa   nominal
3           age                    Idade do passageiro  quantitativa  discreta
4         sibsp  Quantidade de irmãos/cônjuges a bordo  quantitativa  discreta
5         parch  Quantidade de pais / crianças a bordo  quantitativa  discreta
6          fare            Tarifa paga pelo passageiro  quantitativa  discreta
7      embarked             Sigla do porto de Embarque   qualitativa   nominal
8         class           Nome da classe do passageiro   qualitativa   ordinal
9           who            Classificação do passageiro   qualitativa   nominal
10   adult_male            Se é ou não um homem adulto   qualitativa   nominal
11         deck                    Andar do passageiro   qualitativa   ordinal
12  embark_town              Nome do porto de embarque   qualitativa   nominal
13        alive                    Sobrevivente ou não   qualitativa   nominal
14        alone                         Sozinho ou não   qualitativa   nominal